# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.gz
*.pickle
*.png

.idea
*.iml

save*/*

# Local config file
config/local_config.json
assignment-1/notMNIST_large/
letters/
save-backup/
save/
save_convnet/
